* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Playwrite HU", cursive;
  font-optical-sizing: auto;
}

body {
  background-color: wheat;
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 21.44px;
  /* border: 1px solid black; */
  height: inherit;
  width: inherit;
  margin: 0;
}

.main_header {
  display: flex;
  flex-direction: column;
  padding: 0px;
  margin: 0px;
}

.Example {
  display: flex;
  gap: 21.44px;
  align-items: center;
  padding: 13.4px;
}

.Exampletxt {
  color: chocolate;
  font-weight: bold;
  font-size: 10.72px;
}
.Example__container {
  border: 1px solid burlywood;
  border-radius: 10.05px;
  display: flex;
  flex-direction: column;
  gap: 21.44px;
  padding: 20.1px;
  margin-top: 42.88px;
  border-right: hidden;
  border-top: hidden;
  border-width: 2.01px;
}

#Enterbtn {
  border-radius: 5px;
  border: 1px solid chocolate;
  background-color: inherit;
  border-width: 2.01px;
  font-size: 10.72px;
}

#Header {
  text-align: center;
  font-size: 21.44px;
  color: chocolate;

  font-weight: bold;
  margin-bottom: 33.5px;
}

.list_items {
  list-style-type: none;
  border: 1px solid burlywood;
  padding: 6.7px;
  color: black;
  text-align: center;
  font-size: 10.72px;
  border-bottom: hidden;
  border-top: hidden;
  border-width: 2.01px;
}

.EventListner {
  display: flex;
  align-items: center;
  gap: 21.44px;
  width: 335px;
  height: 167.5px;
}

#Revealbtn {
  border-style: none;
  background-color: inherit;
  font-size: 10.72px;
  margin: auto;
}

.Reveal {
  border: 1px solid burlywood;
  border-radius: 10.05px;
  display: flex;
  align-items: center;
  width: 100%;
  text-align: center;
  border-width: 2.01px;
  height: 100%;
}

.hidden_content {
  display: none;
  border: 1px solid burlywood;
  border-radius: 10.05px;
  max-width: 402px;
  height: max-content;
  text-align: center;
  border-width: 2.01px;
}
.open {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Event_propagation {
  display: flex;
  flex-direction: column;
  border: 1px solid burlywood;
  width: 8%;
  align-items: center;
  justify-content: center;
  border-radius: 10.05px;
  border-width: 2.01px;
  padding: 13.4px;
  flex: wrap;
}

.div_1 {
  display: flex;
  flex-direction: column;
  gap: 2.01px;
  align-items: center;
  border: 1px solid burlywood;
  padding: 33.5px;
  border-radius: 10.05px;
  border-width: 2.01px;
  font-size: 10.72px;
}

.div_2 {
  display: flex;
  flex-direction: column;
  gap: 21.44px;
  align-items: center;
  border: 1px solid burlywood;
  padding: 10.05px;
  border-radius: 10.05px;
  border-width: 2.01px;
  font-size: 10.72px;
}

.targetBtn {
  border: none;
  background-color: inherit;
  font-style: italic;
  color: chocolate;
  font-size: 10.72px;
  font-weight: bold;
}

.EventDelegation {
  border: 1px solid burlywood;
  display: flex;
  align-items: center;
  justify-content: center;
  border-width: 2.01px;
  border-radius: 10.05px;
}

.EventD {
  padding: 0px;
}

.list_itemsD {
  list-style-type: none;
  padding: 6.7px;
  color: black;
  text-align: center;
  font-size: 10.72px;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 42.88px;
}

.Navtxt {
  list-style: none;
  padding: 13.4px;
}

#navLink {
  text-decoration: none;
  color: chocolate;
  font-size: 16.02px;
  font-style: italic;
  font-weight: 400;
}

.navbarM {
  display: flex;
  border: 1px solid chocolate;
  border-radius: 16.75px;
  border-width: 2.01px;
  border-bottom: none;
  border-left: none;
  border-right: none;
}

.nav1 {
  border-right: none;
}
.nav2 {
  border-left: none;
}

.content {
  font-size: 10.72px;
}
