* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Playwrite HU", cursive;
  font-optical-sizing: auto;
}

body {
  background-color: wheat;
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  /* border: 1px solid black; */
  height: inherit;
  width: inherit;
  margin: 0;
}

.main_header {
  display: flex;
  flex-direction: column;
  padding: 0px;
  margin: 0px;
}

.Example {
  display: flex;
  gap: 2rem;
  align-items: center;
  padding: 20px;
}

.Exampletxt {
  color: chocolate;
  font-weight: bold;
}
.Example__container {
  border: 1px solid burlywood;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 30px;
  margin-top: 4rem;
  border-right: hidden;
  border-top: hidden;
  border-width: 3px;
}

#Enterbtn {
  border-radius: 5px;
  border: 1px solid chocolate;
  background-color: inherit;
  border-width: 3px;
}

#Header {
  text-align: center;
  font-size: 2rem;
  color: chocolate;

  font-weight: bold;
  margin-bottom: 50px;
}

.list_items {
  list-style-type: none;
  border: 1px solid burlywood;
  padding: 10px;
  color: black;
  text-align: center;

  border-bottom: hidden;
  border-top: hidden;
  border-width: 3px;
}

.EventListner {
  display: flex;
  align-items: center;
  gap: 2rem;
  width: 500px;
  height: 250px;
}

#Revealbtn {
  border-style: none;
  background-color: inherit;
  font-size: 1rem;
  margin: auto;
}

.Reveal {
  border: 1px solid burlywood;
  border-radius: 15px;
  display: flex;
  align-items: center;
  width: 100%;
  text-align: center;
  border-width: 3px;
  height: 100%;
}

.hidden_content {
  display: none;
  border: 1px solid burlywood;
  border-radius: 15px;
  max-width: 600px;
  height: max-content;
  text-align: center;
  border-width: 3px;
}
.open {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Event_propagation {
  display: flex;
  flex-direction: column;
  border: 1px solid burlywood;
  width: 8%;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  border-width: 3px;
  padding: 20px;
  flex: wrap;
}

.div_1 {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
  border: 1px solid burlywood;
  padding: 50px;
  border-radius: 15px;
  border-width: 3px;
}

.div_2 {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  border: 1px solid burlywood;
  padding: 15px;
  border-radius: 15px;
  border-width: 3px;
}

.targetBtn {
  border: none;
  background-color: inherit;
  font-style: italic;
  color: chocolate;
  font-weight: bold;
}

.EventDelegation {
  border: 1px solid burlywood;
  display: flex;
  align-items: center;
  justify-content: center;
  border-width: 3px;
  border-radius: 15px;
}

.EventD {
  padding: 0px;
}

.list_itemsD {
  list-style-type: none;
  padding: 10px;
  color: black;
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
}

.Navtxt {
  list-style: none;
  border: 1px solid burlywood;
  padding: 20px;
  border-radius: 20px;
  border-width: 2.5px;
  border-bottom: none;
}

#navLink {
  text-decoration: none;
  color: chocolate;
  font-size: 1.4rem;
  font-style: italic;
}
