* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Playwrite HU", cursive;
  font-optical-sizing: auto;
}

body {
  background-color: wheat;
  height: 100vh;
  overflow: hidden;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2.68rem;
  font-size: 0.938rem;
}

#navtxt {
  text-decoration: none;
  color: chocolate;
  border: 1px solid chocolate;
  padding: 0.8375rem;
  border-radius: 0.8375rem;
  border-width: 2.01px;
  border-bottom: none;
  border-right: none;
  font-size: 16.02px;
  border-left: none;
}

.main_Header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
}

.main_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
  position: absolute;
  top: 35%;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 1.6rem;
  border: 2.4px solid burlywood;
  border-bottom: none;
  border-top: none;
  border-bottom: none;
  padding-left: 1rem;
  padding-right: 1rem;

  border-radius: 0.5rem;
  height: 3rem;
}

#CBtn {
  border: none;
  background-color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Counter {
  /* font-family: "Barriecito", system-ui;
  font-style: normal;
   */
  display: flex;
  font-family: "Jura", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 5.6rem;

  color: chocolate;
}

.Twodots {
  text-align: center;
  line-height: 1;
}

.icons1 {
  font-size: 1.28rem;
  color: rgb(200, 139, 95);
  transition: font-size 0.2s ease, color 1s ease;
}

.icons1:hover {
  color: rgb(211, 97, 16);
  font-size: 2.08rem;

  /* transform: translateY(-3px); */
}

#rpBtn {
  transition: transform 1.2s ease;
}

#rpBtn:hover {
  transform: rotate(360deg);
}
